@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<div class="underline-custom"></div>
<section>
	<div class="container p-5 ">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-custom p-4 p-sm-5">
					<h1>Create a new account</h1>
                    <div class="underline-custom mb-4"></div>

					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="row">
					    <div class="form-group mb-3 col-md-6">
						    <label asp-for="Input.Name" class="px-2 fs-4">First Name</label>
                            <input asp-for="Input.Name" class="form-control rounded-pill" aria-required="true" placeholder="First Name" />
						    <span asp-validation-for="Input.Name" class="text-danger"></span>
					    </div>

                        <div class="form-group mb-3 col-md-6">
                            <label asp-for="Input.Surname" class="px-2 fs-4">Last Name</label>
                            <input asp-for="Input.Surname" class="form-control rounded-pill" aria-required="true" placeholder="Last Name" />
						    <span asp-validation-for="Input.Surname" class="text-danger"></span>
					    </div>
                        <div class="form-group mb-3 col-md-6">
                            <label asp-for="Input.Address" class="px-2 fs-4">Address</label>
                            <input asp-for="Input.Address" class="form-control rounded-pill" aria-required="true" placeholder="Address" />
						    <span asp-validation-for="Input.Address" class="text-danger"></span>
					    </div>

                        <div class="form-group mb-3 col-md-6">
                            <label asp-for="Input.PhoneNumber" class="px-2 fs-4">Phone Number</label>
                            <input asp-for="Input.PhoneNumber" class="form-control rounded-pill" aria-required="true" placeholder="Phone Number" />
						    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
					    </div>
                    </div>


					<div class="form-group mb-3">
                        <label asp-for="Input.Email" class="px-2 fs-4">Email</label>
                        <input asp-for="Input.Email" class="form-control rounded-pill" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
                        <label asp-for="Input.Password" class="px-2 fs-4">Password</label>
                        <input asp-for="Input.Password" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="password" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
                        <label asp-for="Input.ConfirmPassword" class="px-2 fs-4">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="password" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>

					<button id="registerSubmit" type="submit" class="btn-custom w-100">Register</button>
				</form>
			</div>
		</div>
	</div>
</section>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}