@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="underline-custom"></div>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div class="form-custom p-4 p-sm-5">
                    <h1>@ViewData["Title"]</h1>
                    <div class="underline-custom mb-4"></div>
                    <p class="fs-4">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>