@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Oswald", serif;
}

body {
    background: rgb(29,24,56);
    background: linear-gradient(90deg, rgba(29,24,56,1) 0%, rgba(62,50,124,1) 30%, rgba(62,50,124,1) 70%, rgba(29,24,56,1) 100%);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.form-custom {
    background-color: #e4e4e4;
    border-radius: 10px;
    color: #1a1a1a;
}

.form-custom div textarea{
    border-radius:19px;
}

.cursor-pointer {
    cursor: pointer;
}

.underline-custom {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #633ff6, #e755f7);
}

.btn-custom {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #633ff6, #e755f7);
    transition: 0.5s;
    background-size: 100%;
    border: none;
}

    .btn-custom:hover {
        font-weight: 700;
        color: white;
        background-size: 300%;
    }

.bg-nav {
    background-color: #19152B;
}



/*
    Alert
*/
.alert-box {
    position: fixed;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
    background-color: #198754;
    color: white;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.alert-box-hidden {
    opacity: 0;
    visibility: hidden;
}



/*
    Pagination
*/
.pagination-element {
    background-color: #cdcdcd;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    box-sizing:border-box;
}

.pagination-link {
    text-decoration: none;
    border: 2px solid transparent;
    background-color: #1D1838;
    font-size: 1.4rem;
    color: #cdcdcd;
    font-weight: bold;
    padding: 5px 10px;
    min-width: 3rem;
}

    .pagination-link:hover, .pagination-current {
        border-bottom: 2px solid white;
        color: white;
    }

.pagination-empty {
    background-color: #1D1838;
    color: #cdcdcd;
}

.pagination-prev, .pagination-next {
    border-radius: 15px;
    -webkit-appearance: button;
}

.pagination-links {
    display: flex;
    gap: 1px;
}

    .pagination-links > :first-child {
        border-radius: 15px 0 0 15px;
    }

    .pagination-links > :last-child {
        border-radius: 0 15px 15px 0;
    }



/*
    Background Image
*/
.bg-home-wrapper {
    position: relative;
    background-image: url(/images/background/bg-library.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 20vw;
}

.bg-home-overlay {
    width: 100%;
    min-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgb(29,24,56);
    background: linear-gradient(0deg, rgba(25,21,43,0.55) 0%, rgba(25,21,43,0.55) 50%,rgba(25,21,43,1) 99%, rgba(25,21,43,1) 100%);
}



/*
    Searchbar
*/
.searchbar-custom {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -38px;
}

.searchbar-short {
    max-width: 500px;
}

.input-custom {
    width: 100%;
    border: none;
    border-right: 1px solid purple;
}

    .input-custom:focus {
        outline: none;
        box-shadow: none;
    }

.btn-dropdown {
    border: none;
    background-color: transparent;
}

.categories-dd-menu {
    min-width: 14rem;
}


/*
    Book card
*/
.book-card-wrapper {
    position:relative;
    height: 400px;
    width: 100%;
}

.book-card-img {
    position: absolute;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.book-card-overlay {
    position:absolute;
    opacity: 0;
    backdrop-filter: blur(5px);
    inset: 0%;
    padding-top: 8rem;
    transition: 0.2s;
    border-radius: 10px;
    border: 4px solid white;
}

    .book-card-overlay:hover {
        opacity: 1;
    }



/*
    Details Page
*/
.details-img {
    width: 100%;
    border-radius: 10px;
}

.summary-text {
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.summary-text-expanded {
    -webkit-line-clamp: unset;
}


.details-box {
    background-color: #410088;
    border-radius: 10px;
}

.btn-dd {
    padding: 0px 10px;
    border-radius: 10px;
}

.details-dd-menu {
    min-width: 8rem;
    transform: translate(-96px, 32px) !important;
}

.dropdown-item:hover {
    background-color: #6b40f6;
    color: white;
}

.review-box {
    border-left: 5px solid white;
    background-color: #1D1838;
    border-radius: 10px;
}



/*
    LOANS
*/
.loan-card-bg {
    position: absolute;
    background: #19152B;
    clip-path: polygon(0% 0%, 25% 0%, 15% 100%, 0% 100%);
    inset: 0%;
    z-index: -1;
    border-radius: 10px;
}

.loan-card-bg2 {
    position: absolute;
    background: #ffffff;
    inset: 1px;
    z-index: -2;
    border-radius: 10px;
}

.loan-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #19152B;
}


@media screen and (max-width: 575px) {
    .input-custom {
        border-right: 0;
    }

    .loan-card-bg {
        clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 25%);
    }
}



