
<section>
    <div class="container p-5">
<div class="alert alert-success">
    @TempData["Message"]
</div>
<a class="navbar-brand" href="@Url.Action("Index","Book")">Back to home</a>

    </div>
</section>